body {
    min-width: 310px;
    height: 400px;
    max-width: 1200px;
    margin: 0 auto;
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", Helvetica, Arial, sans-serif;
  }
  
  h2 {
    font-family: Arial;
    font-size: 2.5rem;
    text-align: center;
  }
  
  .container-fluid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* creates 2 columns of equal width */
    grid-gap: 10px; /* adds a 10px gap between items */
  }
  
  .container {
    padding: 10px;
    height: 30rem;
    margin-bottom: 30px;
  }

  .ctrl-container{
    height: 30rem;
    width: 37rem;
    background-color: #dedede;
  }
  
  /*SUBMIT BUTTON*/
  .buttonstyle {
    background: rgb(255, 255, 255);
    background-position: 0px -401px;
    border: solid 1px #880e0e;
    color: #880e0e;
    height: 30px;
    margin-top: 15px;
    padding-bottom: 2px;
    border-radius: 7px;
    padding: 20px;
    width: 150px;
    cursor: pointer;
    line-height: 50%;
  }

  .logout{
    background-color: #b51414;
    background-position: 0px -401px;
    border: solid 1px #b51414;
    color: white;
    height: 30px;
    margin-top: 15px;
    margin-left: 10px;
    padding-bottom: 2px;
    border-radius: 7px;
    padding: 20px;
    width: 150px;
    cursor: pointer;
    line-height: 50%;
  }
  
  .logout:hover{
    background-color: #880e0e;
  }

  .alert_green {
    background-color: #1ab336;
    color: white;
    margin-bottom: 15px;
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Helvetica Neue",Helvetica,Arial;
    z-index: 999; /* Make sure the floating container is on top of the other elements */
    padding: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    font-size: 0.9em;
    }

  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    }
    
    /* When moving the mouse over the close button */
    .closebtn:hover {
    color: black;
    }

    
.header{
  display: flex;
  justify-content: space-between;
  height: 25px;
  padding: 20px;
  align-items: center;
}

.logo{
  font-size: 1.2em;
  font-weight: 500;
  font-family: "Nunito", sans-serif;
}

h2.ctrl-header{
  font-weight: 500;
  font-size: 1.8rem;
}

.ctrl-btn{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 20px;
  margin-top: -5px;
}

.ctrl-form{
  display: flex;
  flex-direction: column;
  gap: 45px;
  width: 100px;
  margin-top: 9%;
  margin-left: -80px;
}

.ctrl-value{
  background-color: #7A7A7A;
  padding: 10px;
  border-radius: 4px;
  color: white;
  margin-left: 62px;
}

.ctrl-form-btn{
  background: white;
  /* background-position: 0px -401px; */
  border: solid 1px #e3b04b;
  color: #e3b04b;
  height: 30px;
  padding-bottom: 2px;
  border-radius: 7px;
  padding: 20px;
  width: 120px;
  cursor: pointer; 
  line-height: 40%;  
}

.btn-input{
  border-radius: 7px;
  border: solid 1px #7A7A7A;
  height: 40px;
  width: 100px;
}

.ctrl{
  display: flex;
  margin-right: auto;
  line-height: 20%;
  gap: -10px;
  align-items: center;
}
