<html lang="en">
  <head>
    <link href="{{ url_for('static', filename= 'css/plotstyle.css') }}"
          rel="stylesheet"
          type="text/css"
          media="all" />
    <!--<link href="{{ url_for('static', filename= 'css/style.css') }}" rel="stylesheet" type="text/css" media="all"> -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--<meta http-equiv="refresh" content="5">-->
    <title>TRANSFORMER HEALTH STATUS</title>
    <!-- HIGH CHART-->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
  </head>
  <body>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul>
      {% for message in messages %}
      <div class="alert_green">
        <!-- <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> -->
        {{ message }}
      </div>
      <script>
        // Fade out the alert box after 3 seconds
        setTimeout(function () {
          var alertBox = document.querySelector(".alert_green");
          alertBox.style.opacity = "0";
          alertBox.style.transition = "opacity 1s ease-in-out";
          setTimeout(function () {
            alertBox.remove();
          }, 1000);
        }, 800);
      </script>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}
     <header class="header">
      <p class="logo">GPA TRANSFORMER</p>

      <span style="display: flex">
        <!--DELETE ALL DATA-->
        <form action="/delete" method="post">
          <input type="submit" class="buttonstyle" onclick="handleDelete()" value="CLEAR ALL DATA" />
        </form>
        <!-- LOGOUT -->
        <form action="/logout" method="post">
          <input type="submit" class="logout" value="LOGOUT" />
        </form>
      </span>
    </header>

    <!--HIGH CHART -->
    <div class="jumbotron"></div>
    <br>
    <br>
    <div class="layout">
      
    </div>
    <div class="container-fluid">
    <div class="ctrl-container">
          <h2 class="ctrl-header">Control Panel</h2>
          <div style="display: flex; flex-direction: row; align-items: center">
            <div class="ctrl-btn">
              <div style="display: flex; margin-left: 190px; gap: 100px">
                <p>Value</p>
                <p style="margin-left: -30px">Set Range</p>
              </div>
              <div class="ctrl">
                <p style="width: 130px">Temperature</p>
                <p class="ctrl-value" id="ctrl-value-1"></p>
              </div>

              <div class="ctrl">
                <p style="width: 130px; line-height: 1.2em;">Line to Line Voltage</p>
                <p class="ctrl-value" id="ctrl-value-2"></p>
              </div>

              <div class="ctrl">
                <p style="width: 130px; line-height: 1.2em;">Line to Neutral Voltage</p>
                <p class="ctrl-value" id="ctrl-value-3"></p>
              </div>

              <div class="ctrl">
                <p style="width: 130px; line-height: 1.2em;">Voltage Neutral to Earth</p>
                <p class="ctrl-value" id="ctrl-value-4"></p>
              </div>
            </div>

            <div class="ctrl-form">
              <input
                type="number"
                name="form-c1"
                id="form-c1"
                class="btn-input"
              />
              
                <div style="display: flex; align-items: center">
                <input
                  type="number"
                  name="form-c2"
                  id="form-c2"
                  class="btn-input"
                />
                <button
                  style="margin-left: 20px"
                  class="ctrl-form-btn"
                  onclick="updateInput()"
                >
                  Submit
                </button>
              </div>
              <input
                type="number"
                name="form-c3"
                id="form-c3"
                class="btn-input"
              />
              <input
                type="number"
                name="form-c4"
                id="form-c4"
                class="btn-input"
              />
          </div>
          </div>
    </div>
      <!-- Charts Grid -->
      <div id="chart-temperature" class="container"></div>
      <div id="chart-voltage_l_l" class="container"></div>
      <div id="chart-voltage_l_n" class="container"></div>
      <div id="chart-voltage_n_e" class="container"></div>
      <div id="chart-current" class="container"></div>
    </div>
  </body>
  <script src="https://smtpjs.com/v3/smtp.js"></script>
  <script>
  let tempSent = false;
  let voltageSent = false;
  let lineSent = false;
  let neutralSent = false;


  setInterval(() => {
    // Create your own SMTPJS Account and insert the details here
    fetch("/get_transformer_input")
      .then((response) => response.text())
      .then((transformer) => {
        fetch("/get_data")
          .then((response) => response.text())
          .then((data) => {
            data = data.split(', ');
            transformer = transformer.split(', ');
            console.log("Transformer: ", transformer);
            console.log("Data: ", data);
            if (transformer[0] > data[1] && !tempSent) {
              console.log(`${transformer[0]} is greater than ${data[1]}`);
                alert("Temperature is too high");
                Email.send({
                  Host: "smtp.elasticemail.com",
                  Username: "jmikey301@gmail.com",
                  //Password: "CFFD83B86850E80586C56C68B0EA4FBEDE5D",
                  To: "michealelijah301@gmail.com",
                  From: "jmikey301@gmail.com",
                  Subject: "Temperature is too high",
                  Body: `Transformer is overheating: Temperature value: (${transformer[0]}) is very high (${data[1]}) and transformer is getting hot`,
                }).then((message) => alert(message));
                tempSent = true;
            } else if(transformer[0] <= data[1]){
              tempSent = false;
            }
            
            if(transformer[1] > data[2] && !lineSent) {
              console.log(`${transformer[1]} is less than ${data[2]}`);
                alert("Line to Line voltage is too high");
                Email.send({
                  Host: "smtp.elasticemail.com",
                  Username: "jmikey301@gmail.com",
                  // Password: "CFFD83B86850E80586C56C68B0EA4FBEDE5D",
                  To: "michealelijah301@gmail.com",
                  From: "jmikey301@gmail.com",
                  Subject: "Light Intensity is too low",
                  Body: `Light Intensity (${transformer[1]}) is low, please adjust the light control (${data[2]}).`,
                }).then((message) => alert(message));
                lineSent = true;
          } else if(transformer[1] <= data[2]) {
            lineSent = false;
          }
          if(transformer[2] > data[3] && !voltageSent) {
              console.log(`${transformer[2]} is less than ${data[3]}`);
                alert("Line to Neutral Voltage is too high");
                Email.send({
                  Host: "smtp.elasticemail.com",
                  Username: "jmikey301@gmail.com",
                  // Password: "CFFD83B86850E80586C56C68B0EA4FBEDE5D",
                  To: "michealelijah301@gmail.com",
                  From: "jmikey301@gmail.com",
                  Subject: "Line to Neutral Voltage is too high",
                  Body: `Line to Neutral Voltage is too high (${transformer[2]}) is really high, reading from transformer is set at ${data[3]} and is too low.`,
                }).then((message) => alert(message));
                voltageSent = true;
          } else if(transformer[2] <= data[3]){
            voltageSent = false;
          }
          if(transformer[3] > data[4] && !neutralSent) {
              console.log(`${transformer[3]} is less than ${data[4]}`);
                alert("Neutral to Earth voltage is too high");
                Email.send({
                  Host: "smtp.elasticemail.com",
                  Username: "jmikey301@gmail.com",
                  // Password: "CFFD83B86850E80586C56C68B0EA4FBEDE5D",
                  To: "michealelijah301@gmail.com",
                  From: "jmikey301@gmail.com",
                  Subject: "Neutral to Earth is too high",
                  Body: `Neutral to Earth input(${transformer[3]}) is really high, transformer reading is set at ${data[4]} and is too low.`,
                }).then((message) => alert(message));
                neutralSent = true;
          } else if(transformer[3] <= data[4]) {
            neutralSent = false;
          }
          });
      });
  }, 1000); // Every 0.9 Seconds
  

    for (let i = 1; i <= 4; i++) {
      fetch(`/get_transformer_input/c${i}`)
        .then((response) => response.text())
        .then((data) => {
          console.log('Value: ', data)
          const value = document.getElementById(`ctrl-value-${i}`);
          value.textContent = parseInt(data);
        })
        .catch((error) => {
          console.error("Error fetching value: ", error);
        });
    }

  function updateInput() {
      let b1 = document.getElementById("form-c1").value;
      let b2 = document.getElementById("form-c2").value;
      let b3 = document.getElementById("form-c3").value;
      let b4 = document.getElementById("form-c4").value;
      if (b1 && b2 && b3 && b4) {
        fetch(`/insert/${b1}/${b2}/${b3}/${b4}`, {
          method: "POST",
          headers: { "Content-Type": "application/json" },
        }).then(() => {
          const value1 = document.getElementById(`ctrl-value-1`);
          value1.textContent = parseInt(b1);

          const value2 = document.getElementById(`ctrl-value-2`);
          value2.textContent = parseInt(b2);

          const value3 = document.getElementById(`ctrl-value-3`);
          value3.textContent = parseInt(b3);

          const value4 = document.getElementById(`ctrl-value-4`);
          value4.textContent = parseInt(b4);
          window.location.reload();
        });
      } else {
        alert("Please fill all control inputs");
      }
    }

        //TEMPERATURE
        let xData = [];
        function fetchData() {
          return new Promise((resolve, reject) => {
            const xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
              if (this.readyState == 4 && this.status == 200) {
                const data = JSON.parse(this.responseText);
                resolve(data);
              } else if (this.readyState === 4) {
                reject('Error fetching data');
              }
            };
            xhttp.open("GET", "/data", true);
            xhttp.send();
          });
        };

  function handleDelete(){
    localStorage.clear();
  }

  //Create Chart      
  function createChart(id, titleText, yAxisTitleText, dataPointIndex) {
    let chartData = localStorage.getItem(`chartData-${id}`);
  if (chartData) {
    chartData = JSON.parse(chartData);
  } else {
    chartData = [];
  }
  const chart = new Highcharts.Chart({
    chart: { renderTo: id },
    title: { text: titleText },
    series: [{
      showInLegend: false,
      data: chartData,
    }],
    plotOptions: {
      line: {
        animation: false,
        dataLabels: { enabled: true }
      },
      series: { color: '#5469d4' }
    },
    xAxis: {
      type: 'datetime',
      dateTimeLabelFormats: { second: '%H:%M:%S' }
    },
    yAxis: { title: { text: yAxisTitleText } },
    credits: { enabled: false }
  });

  setInterval(() => {
    const xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        const x = (new Date()).getTime();
        const y = this.responseText;
        const y_strip = y.slice(1, -1);
        const y_split = y_strip.split(", ");
        const y_plot = parseFloat(y_split[dataPointIndex]);

        if (chart.series[0].data.length > 40) {
          chart.series[0].addPoint([x, y_plot], true, true, true);
        } else {
          chart.series[0].addPoint([x, y_plot], true, false, true);
        }
        chartData = chart.series[0].data.map((point) => [point.x, point.y]);
        localStorage.setItem(`chartData-${id}`, JSON.stringify(chartData));
      }
    };
    xhttp.open('GET', '/data', true);
    xhttp.send();
  }, 5000);

  return chart;
}

const chartT = createChart(
  'chart-temperature',
  'Transformer Temperature',
  'Temperature (Celsius)',
  1
);

const chartVll = createChart(
  'chart-voltage_l_l',
  'Transformer line to line voltage',
  'Voltage (V)',
  2
);

const chartVln = createChart(
  'chart-voltage_l_n',
  'Transformer line to Neutral voltage',
  'Voltage (V)',
  3
);

const chartVne = createChart(
  'chart-voltage_n_e',
  'Voltage Neutral to Earth',
  'Voltage (V)',
  4
);

</script>
</html>
